<footer>

    <div class="flex-container" id="link">
        <a href="#"><img src="assets/img/logo_twit.png" alt="twitter" width="120px"></a>
        <a href="#"><img src="assets/img/logo_fb.png" alt="facebook" width="100px"></a>
        <a href="https://github.com/ycoupannec/projet-data"><img src="assets/img/Octocat.png" alt="github" width="80px" target="_blank"></a>

    </div>
    <div>
        <p id="copyright"><i>Copyright BYMAY &#169; </i></p>
    </div>




</footer>
</div>
</div>
</body>
