		<footer>

    <div class="flex-container" id="link">
        <a href="#"><img src="assets/img/logo_twit.png" alt="twitter"></a>
        <a href="#"><img src="assets/img/logo_fb.png" alt="facebook"></a>
        <a href="https://github.com/ycoupannec/projet-data"><img src="assets/img/logo_git.png" alt="github"></a>

    </div>
    <div>
        <p id="copyright">Copyright BYMAY &#169;</p>
    </div>




</footer>
	</div>
</div>

	<script>
		$("#Film").change(function() {
			window.location = "{{URL}}index.php?action=viewByFilmId&id=" + $(this).val();
		});
		$("#FilmRealisateur").change(function() {
			window.location = "{{URL}}index.php?action=viewByRealisateurId&idRealisateur=" + $(this).val();
		});
		$("#FilmArrondissement").change(function() {
			window.location = "{{URL}}index.php?action=viewByArrondissementId&idArrondissement=" + $(this).val();
		});
	</script>

</body>

</html>
