<body>

	<div id="carrebleu_left">
		<div id="carrebleu_right">

	<header>
		<!--<div id="carrebleu_left">
			<div id="carrebleu_right">-->
				<h1 class="text-center "><img src="assets/img/title.png " alt="La traversée de Paris "></h1>
			<!--</div>
		</div>-->
	</header>

	<!-- bordure pellicule cinéma -->
	<!-- <img id="img_bordure_left " src="maquette/bordure.svg " alt="bordure" style="float: left">
	<img id="img_bordure_right " src="maquette/bordure.svg " alt="bordure " style="float:right"> -->


			<div class="container">
				<div class="row ">
					<div id="searchBox" class="col-xs-12">

						<select class="selectpicker show-menu-arrow" data-live-search="true" data-size="10">
							{{#Film}}
								<option name="pouet" data-icon="glyphicon-film" value="{{id}}" {{#active}}selected{{/active}}>{{titre}}</option>
							{{/Film}}
						</select>

						<!--<select class="selectpicker show-menu-arrow" data-live-search="true" data-size="10">
							{{#FilmAuteur}}
								<option name="pouet" data-icon="glyphicon-film" value="{{id}}" {{#active}}selected{{/active}}>{{auteur}}</option>
							{{/FilmAuteur}}
						</select>

						<select class="selectpicker show-menu-arrow" data-live-search="true" data-size="10">
							{{#FilmArrondissement}}
								<option name="pouet" data-icon="glyphicon-film" value="{{id}}" {{#active}}selected{{/active}}>{{arrondissement}}</option>
							{{/FilmArrondissement}}
						</select>-->

					</div>
				</div>
			</div>


		</div>
	</div>
	
	<script>
		$(".selectpicker").change(function(){
			window.location = "{{URL}}index.php?action=viewByFilmId&id="+$(this).val();
		});
	</script>

</body>
