<body>

	<div id="carrebleu_left">
		<div id="carrebleu_right">

	<header>

				<h1 class="text-center "><img src="assets/img/title.png " alt="La traversée de Paris "></h1>

	</header>




			<div class="container">
				<div class="row ">
					<div id="searchBox" class="col-xs-12">
						<p>Sélectionnez votre parcours :</p>
						<select class="selectpicker show-menu-arrow" data-dropup-auto="false" data-live-search="true" data-size="5" id="Film">
								<option data-icon="glyphicon-film" value="" disabled selected hidden>par film</option>
							{{#Film}}
								<option data-icon="glyphicon-film" value="{{id}}" {{#active}}selected{{/active}}>{{titre}}</option>
							{{/Film}}
						</select>


						<select class="selectpicker show-menu-arrow" data-dropup-auto="false" data-live-search="true" data-size="5" id="FilmRealisateur">
								<option data-icon="glyphicon-user" value="" disabled selected hidden>par réalisateur</option>
							{{#FilmRealisateur}}
								<option data-icon="glyphicon-user" value="{{id}}" {{#active}}selected{{/active}}>{{realisateur}}</option>
							{{/FilmRealisateur}}
						</select>


						<select class="selectpicker show-menu-arrow" data-dropup-auto="false" data-live-search="true" data-size="5" id="FilmArrondissement">
								<option data-icon="glyphicon-map-marker" value="" disabled selected hidden>par arrondissement</option>
							{{#FilmArrondissement}}
								<option data-icon="glyphicon-map-marker" value="{{id}}" {{#active}}selected{{/active}}>{{arrondissement}}</option>
							{{/FilmArrondissement}}
						</select>

					</div>
				</div>
			</div>


		</div>
	</div>
	
	<script>
		$("#Film").change(function(){
			window.location = "{{URL}}index.php?action=viewByFilmId&id="+$(this).val();
		});
		$("#FilmRealisateur").change(function(){
			window.location = "{{URL}}index.php?action=viewByRealisateurId&idRealisateur="+$(this).val();
		});
		$("#FilmArrondissement").change(function(){
			window.location = "{{URL}}index.php?action=viewByArrondissementId&idArrondissement="+$(this).val();
		});
	</script>

</body>
