
<body>

	<!--LEAFLET MAP-->
	<main id="mapid">

		<aside id="zoneBtnSuivantPrecedent">

			<div id="btnPrecedent">
				<img src="assets/img/btnsuivant.svg" />
			</div>

			<div id="btnFicheFilm">
				<img src="assets/img/boutonfiche.svg" />
			</div>

			<div id="btnSuivant">
				<img src="assets/img/btnsuivant.svg" />
			</div>

		</aside>
	</main>

	<!-- Button trigger modal -->
	<button id="mzzrFckngBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
	  Launch demo modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="titreFilm"></h5>
		  </div>
		  <div class="modal-body">
			<p id="realisateurFilm"></p>
			<p id="adresseFilm"></p>
			<p id="cadreFilm"></p>
			<p id="dateFilm"></p>
			<p id="overviewFilm"></p>
			<div class="col-xs-12">
				<img id="posterFilm" />
		  	</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Revenir à la carte</button>
		  </div>
		</div>
	  </div>
	</div>



	<!--Zone de recherche en bas-->
	<footer id="zoneRecherche" class="container">


		<div id="btnHome" class="col-xs-3">
			<img src="assets/img/minilogo.svg"/>
		</div>


		<div class="col-xs-9">

			<select class="selectpicker show-menu-arrow" data-live-search="true" data-size="5">
				{{#Film}}
				<option value="{{id}}" {{#active}}selected{{/active}}>{{titre}}</option>
				{{/Film}}
			</select>

		</div>


	</footer>

	<script>

		$(".selectpicker").change(function(){
			window.location = "{{URL}}index.php?action=viewByFilmId&id="+$(this).val();
		});

		var idFilm = parseInt($(".selectpicker").val());

		$("#btnPrecedent").click(function(){
			window.location = "{{URL}}index.php?action=viewByFilmId&id="+(idFilm-1);
		});

		$("#btnSuivant").click(function(){
			window.location = "{{URL}}index.php?action=viewByFilmId&id="+(idFilm+1);
		});

	</script>

</body>

</html>
