
<body>


	<!--LEAFLET MAP-->
	<main id="mapid">

		<!--BOUTTONS POUR PASSER AU FILM SUIVANT / VOIR LA FICHE DU FILM-->
		<section id="zoneBtnSuivantPrecedent">

			<div id="btnPrecedent">
				<img src="assets/img/btnsuivant.svg" />
			</div>

			<div id="btnFicheFilm">
				<img src="assets/img/boutonfiche.svg" />
			</div>

			<div id="btnSuivant">
				<img src="assets/img/btnsuivant.svg" />
			</div>

		</section>

	</main>




	<!--ZONE MODAL-->
	<aside>


		<!-- BOUTON MODAL -->
		<button id="mzzrFckngBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMarker">
		  Launch demo modal
		</button>

		<!-- MODAL -->
		<div class="modal fade" id="modalMarker" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="titreFilm"></h5>
			  </div>
			  <div class="modal-body">
				<p id="realisateurFilm"></p>
				<p id="adresseFilm"></p>
				<p id="cadreFilm"></p>
				<p id="dateFilm"></p>
				<p id="overviewFilm"></p>
				<div class="col-xs-12">
					<img id="posterFilm" />
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Revenir à la carte</button>
			  </div>
			</div>
		  </div>
		</div>
	<input id='i' value='0' style="display:none">

	</aside>




	<!--ZONE DE RECHERCHE DU FILM-->
	<footer id="zoneRecherche" class="container">

		<div id="btnHome" class="col-xs-3">
			<img src="assets/img/minilogo.svg"/>
		</div>


		<div class="col-xs-9">

			<select id="selectFilm" onchange="this.form.submit()" class="selectpicker show-menu-arrow" data-live-search="true" data-size="5">
				{{#Film}}
				<option value="{{id}}" {{#active}}selected{{/active}}>{{titre}}</option>
				{{/Film}}
			</select>

		</div>

	</footer>


	<script>

		/*var listFilm =
			[
				{{#Film}}
					{
						titre: "{{{titre}}}",
						URL: "{{{URL}}}"
					},
				{{/Film}}
			];


		for (var i = 0; i < listFilm.length; i++)
		{
			console.log(listFilm[i].URL);
		}*/


		/*FONCTIONS DES BOUTONS DE LA PAGE*/

		$(".selectpicker").change(function(){
		window.location = "{{URL}}index.php?action=viewByFilmId&id="+$(this).val();
		});

		/*var idFilm = parseInt($(".selectpicker").val());

		$(".selectpicker").change(function(){
			window.location = "{{{URL}}}"+$(this).val();
		});*/


		/*$("#btnSuivant").click(function(){
				var i = $("#i").val();
		window.location = listFilm[i+1].URL;
		});*/

		/*$("#btnPrecedent").click(function(){
		window.location = listFilm[i-1].URL;
		});*/



		$('#btnSuivant').click(function() {
			$('#selectFilm option:selected').next().attr('selected', 'selected');

			/*$('#selectFilm').click();*/
			/*$('#selectFilm option:selected').next().click();*/
			/*window.location = test;*/
			/*console.log(test);*/
			/*alert($('#selectFilm').val());*/
		});



</script>


</body>

</html>
