
<body>


	<!--LEAFLET MAP-->
	<main id="mapid">

		<!--BOUTTONS POUR PASSER AU FILM SUIVANT / VOIR LA FICHE DU FILM-->
		<section id="zoneBtnSuivantPrecedent">

			<div id="btnPrecedent">
				<img src="assets/img/btnsuivant.svg" />
			</div>

			<div id="btnFicheFilm">
				<img id ="imgBtnFicheFilm" src="assets/img/boutonfiche.svg" />
			</div>

			<div id="btnSuivant">
				<img src="assets/img/btnsuivant.svg" />
			</div>

		</section>

	</main>




	<!--ZONE MODAL (CACHEE)-->
	<aside>


		<!-- BOUTON MODAL -->
		<button id="boutonModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMarker">
		  Launch demo modal
		</button>

		<!-- MODAL -->
		<div class="modal fade" id="modalMarker" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="titreFilm"></h5>
			  </div>
			  <div class="modal-body">
				<p id="realisateurFilm"></p>
				<p id="adresseFilm"></p>
				<p id="cadreFilm"></p>
				<p id="dateFilm"></p>
				<p id="overviewFilm"></p>
				<div class="col-xs-12">
					<img id="posterFilm" />
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Revenir à la carte</button>
			  </div>
			</div>
		  </div>
		</div>
	<input id='i' value='0' style="display:none">

	</aside>




	<!--ZONE DE RECHERCHE DU FILM-->
	<footer id="zoneRecherche">

		<div id="btnHome">
			<a href="{{{URL_HOME}}}">
				<img src="assets/img/minilogo.svg"/>
			</a>
		</div>


		<div>

			<div id="by">{{{BY}}}</div>
			<select id="selectFilm" onchange="this.form.submit()" class="selectpicker show-menu-arrow" data-dropup-auto="true" data-live-search="true" data-size="5">

				{{#Film}}
				<option value="{{id}}" {{#active}}selected{{/active}}>{{titre}}</option>
				{{/Film}}
			</select>

		</div>

	</footer>




	<script>

		/*FONCTIONS DES BOUTONS DE LA PAGE*/

		$(".selectpicker").change(function(){
		window.location = "{{{URL}}}index.php?action=viewByFilmId&id="+$(this).val();
		});

		var idFilm = parseInt($(".selectpicker").val());

		$(".selectpicker").change(function(){
			window.location = "{{{URL}}}"+$(this).val();
		});


		$('#btnPrecedent').click(function() {
			$('#selectFilm option:selected').prev().attr('selected', 'selected');
			var pagePrecedente = $('#selectFilm').val();
			window.location = "{{{URL}}}"+pagePrecedente;
		});

		$('#btnSuivant').click(function() {
			$('#selectFilm option:selected').next().attr('selected', 'selected');
			var pageSuivante = $('#selectFilm').val();
			window.location = "{{{URL}}}"+pageSuivante;
		});

	</script>


</body>

</html>
