
<body>

	<!--LEAFLET MAP-->
	<div id="mapid"></div>
	
	<!--MODAL-->
	<div id="positionModal"></div>
    <div id="positionButtonModal"></div>
    
    
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
	  Launch demo modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
		  </div>
		  <div class="modal-body">
			<p id="titreFilm">Titre du film:</p>
			<p id="realisateurFilm">Réalisateur:</p>
			<p id="adresseFilm">Lieu de tournage:</p>
			<p id="dateFilm">Date de tournage:</p>
			<p id="commentairesFilm">Commentaires:</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Revenir à la carte</button>
		  </div>
		</div>
	  </div>
	</div>





<!-- <script src="assets/js/mapleaflet.js"></script> -->
</body>




</html>