html, body{
	min-height: 100% !important;
	height: 100%;
	min-width: 100% !important;
	width: 100%;
}

body {
    padding: 0;
    margin: 0;
	display: flex;
	flex-flow: column;
	background-color: #505F7E;
}


main{
	padding: 0;
	margin: 0;
	z-index: 0;
	display: flex;
	align-items: flex-end;
	height: 85%;
}


footer{
	padding: 0;
	margin: 0;
	z-index:1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15%;
	box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.36);
}

footer div{
	margin: 0em 1em 0em 1em;
}


#by{
	color: #FFFFFF;
	font-size: 0.8em;

}


#zoneBtnSuivantPrecedent{
	width: 100vw;
	display: flex;
	justify-content: space-between;
	margin: 1.5em;
}


#btnPrecedent, #btnSuivant, #btnFicheFilm{
	z-index: 1000;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: #505F7E;
}


#btnPrecedent img, #btnSuivant img, #btnFicheFilm img{
	width: 6em;
	height: 6em;
}


#btnPrecedent img{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.btn-default{
	border-radius: 0;
	background: none;
	border: none;
	color: #FFFFFF;
	font-size: 1.1em;
	border-bottom: 1px solid #FFFFFF;
}


.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
	background: none;
	border: none;
	color: #FFFFFF;
	font-size: 1.1em;
	border-bottom: 1px solid #FFFFFF;
	box-shadow: none;
}

.btn-default.focus, .btn-default:focus{
	color: #FFFFFF;
	background: none;
	border: none;
}

.btn-default:hover{
	color: #FFFFFF;
	background: none;
	border-bottom: 1px solid #FFFFFF;
}

.dropdown-menu{
	background-color: #282F3E;
	top: initial;
	bottom: 100%;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}


li span{
	color: #ffffff;
}


.modal-content{
    color: #FFFFFF;
    background-color: #282F3E;
    border-radius: 2px;
}


.modal-header, .modal-footer{
    border: none;
}


.modal-footer button{
    background-color: #1E232F;
    border: none;
    border-radius: 2px;
}


#boutonModal{
	display: none;
}


#posterFilm{
	width: 100%;
	padding-bottom: 2vh;
}


.infoHide{
	display: none;
}


