body {
    padding: 0;
    margin: 0;
	background-color: #505F7E;
}

#mapid{
	height: 85vh;
	width:100vw;
	z-index: 0;
}

.modal-content{
    color: #FFFFFF;
    background-color: #505F7E;
    border-radius: 2px;
}

.modal-header, .modal-footer{
    border: none;
}

.modal-footer button{
    background-color: #282F3E;
    border: none;
    border-radius: 2px;
}

#mzzrFckngBtn{
	display: none;
}
