body {
    padding: 0;
    margin: 0;
	background-color: #505F7E;
	height: 100%;
}

#mapid{
	height: 85vh;
	width:100vw;
	z-index: 0;
	display: flex;
	align-items: flex-end;
}

#by{
	color: #FFFFFF;
	font-size: 1.1em;
	padding-left: 0.8em;
}

#zoneRecherche{
	position: absolute;
	height: 15vh;
	width: 100vw;
	z-index:1;
	box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.36);
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-default{
	border-radius: 0;
	background: none;
	border: none;
	color: #FFFFFF;
	font-size: 1.1em;
	border-bottom: 1px solid #FFFFFF;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
	background: none;
	border: none;
	color: #FFFFFF;
	font-size: 1.1em;
	border-bottom: 1px solid #FFFFFF;
}

.dropdown-menu{
	background-color: #282F3E;
	top: 45%;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

li span{
	color: #ffffff;
}

.modal-content{
    color: #FFFFFF;
    background-color: #282F3E;
    border-radius: 2px;
}

.modal-header, .modal-footer{
    border: none;
}

.modal-footer button{
    background-color: #1E232F;
    border: none;
    border-radius: 2px;
}


#mzzrFckngBtn{
	display: none;
}

#posterFilm{
	width: 100%;
	padding-bottom: 2vh;
}

#zoneBtnSuivantPrecedent{
	width: 100vw;
	display: flex;
	justify-content: space-between;
	margin: 1.5em;
}


#btnPrecedent, #btnSuivant, #btnFicheFilm{
	z-index: 1000;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: #505F7E;
}

#btnPrecedent img, #btnSuivant img, #btnFicheFilm img{
	width: 6em;
	height: 6em;
}


#btnPrecedent img{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.infoHide{
	display: none;
}


